certifi==2020.6.20
cycler==0.10.0
et-xmlfile==1.0.1
factor-analyzer==0.3.2
jdcal==1.4.1
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
openpyxl==3.0.5
pandas==1.1.2
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0
xlrd==1.2.0
